extends layout

block content
  h1= title

  if error
    p Error getting dynamic content.
  else
    p The system has the following record counts:

    ul
      li #[strong Members:] !{data.member_count}
      li #[strong Teams:] !{data.team_count}
      li #[strong Roles:] !{data.role_count}
